extends layout

block content
    div(class="container")
        div(class="bio-header")
            h1(class="col s12") BlocItOff
            h5 A tasklist focusing on what matters...
        div(class="bio-login")
            span(class="col s6 input first-name")
                input(class="input__field" type="text" id="first-name")
                label(class="input__label" for="first-name")
                    span(class="input__label-content") First Name
        div(class="bio-login")
            span(class="col s6 input last-name")
                input(class="input__field" type="text" id="last-name")
                label(class="input__label" for="last-name")
                    span(class="input__label-content") Last Name