extends layout

block content
    div(class="container")
        div(class="bio-header")
            h1(class="col s12") BlocItOff
            h5 A tasklist focusing on what matters...
        ul(id="dropdown2" class="dropdown-content")
            li
                a(href="#!") one
                    span(class="badge") 1
            li
                a(href="#!") two
                    span(class="new badge") 1
        a(class="btn dropdown-button" href="#!" data-activates="dropdown2") Menu
            i(class="mdi-navigation-arrow-drop-down right")