doctype html
html(ng-app="BlocItOff")
    head
        title #{x('app-name')}
        meta(name="theme-color" content="#ee6e73")
        link(rel="icon", type="favicon", href="/assets/favicon.ico")
        block css
            link(rel='stylesheet', href='/css/materialize.min.css', type="text/css", media="screen")
            // link(rel='stylesheet', href='/css/style.css', type="text/css")
        block scripts
            script(type="text/javascript", src="//code.jquery.com/jquery-1.11.2.min.js")
            script(type="text/javascript", src="/js/bower_components/angular/angular.min.js")
            script(type="text/javascript", src="/js/bower_components/ui-router/release/angular-ui-router.min.js")
            script(type="text/javascript", src="/js/materialize.min.js")
            script(type="text/javascript", src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")
            script(type="text/javascript", src="/js/bower_components/angularfire/dist/angularfire.min.js")
    body
        nav
            div(class="nav-wrapper light-blue")
                a(href="#" class="brand-logo") BlocItOff
                ul(id="nav-mobile" class="right side-nav")
                    li(class="active")
                        a(href="#") In-Progress
                    li
                        a(href="#") Ending Soon
                    li
                        a(href="#") Expired
                    li
                        a(ui-sref="signup") Sign Up
        block messages
        block content
    block userScripts
        script(type="text/javascript", src="/js/base.js")
        script(type="text/javascript", src="/js/fb-auth.js")