div(class="container")
    div(class="bio-header")
        h1(class="col s12") BlocItOff
        h5 A tasklist focusing on what matters for you, {{username}}.
    div(class="bio-login")
        div(class="row")
            form(class="col s12")
                div(class="row")
                    div(class="input-field col s6")
                        input(id="first_name" type="text" class="validate")
                        label(for="first_name") First Name
                    div(class="input-field col s6")
                        input(id="last_name" type="text" class="validate")
                        label(for="last_name") Last Name
                div(class="row")
                    div(class="input-field col s12")
                        input(id="username" type="text" ng-model="username" class="validate")
                        label(for="username") Username
                div(class="row")
                    div(class="input-field col s12")
                        input(id="password" type='password' class="validate")
                        label(for="password") Password
                div(class="row")
                    div(class='input-field col s12')
                        input(id="email" type="email" class="validate")
                        label(for="email") Email
        div(class='row')
            form(action="#")
                p(class='col s6' style="text-align: center")
                    input(type="checkbox" id="test5")
                    label(for='test5') I agree to the terms and conditions.
                div(class='col s6' style="text-align: center")
                    button(class='col s6 btn waves-effect waves-light' type="submit" name='action') Submit
                        i(class='mdi-content-send right')