div(class="container" ng-controller="tasks")
    form(name="addTaskForm")
        div(class="row")
            div(class="input-field col s9")
                input(class="validate" id="new_task_field" type="text" name="todoNameField" ng-model="todoName" ng-keyup="($event.keyCode == 13) ? addItem() : return")
                label(for="new_task_field") Add new task
            div(class="col s3 center-align")
                button(class="btn waves-effect waves-light blue" ng-click="addItem()" ng-hide="addTaskForm.$invalid" type="button") Save Task
                    i(class="mdi-content-send right")
    div(ng-repeat="item in todos")
        ul(class="collection")
            // span(class="glyphicon glyphicon-thumbs-up" ng-show="item.completed")
            // span {{item.id}}
            li(class="collection-item")
                div {{item.name}}
                    a(class="secondary-content btn-floating btn-large waves-effect waves-light blue" ng-click="removeItem($removeItem($index, item, $event)")
                        i(class="mdi-content-add")